doctype html
html
    head
        include /modules/head
    body
        header.header header
        main.main-content
            include /modules/top-attractions/top-attractions
        footer.footer footer











